.test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(141, 143, 51);
  padding: 3em;
  margin: 5em 5em 0em 5em;
  border-radius: 1em;
}

.label {
  text-decoration: underline;
}

.button {
  border-radius: 1em;
  margin-top: 1em;
}
