.test {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(141, 143, 51);
  padding: 2em;
  margin: 0 2em;
  border-radius: 1em;
  justify-content: space-around;
  list-style: none;
}

.home {
  font-size: 1.5em;
}
